@page "{**slug}"
@{
    var structure = Statica.GetStructure("blog");
    var slug = (string)RouteData.Values["slug"];
    var content = await structure.GetPageAsync(slug);
}

@if (!string.IsNullOrWhiteSpace(slug))
{
    <p>
        Created: <strong>@content.Created.ToString()</strong>
        Last Modified: <strong>@content.LastModified.ToString()</strong>
    </p>
    @Html.Raw(content.Body)
}
else
{
    <h1>Welcome to Statica</h1>
    <p>This is the intro text for the startpage.</p>
}
